html {
  margin: 0;
  align-items: center;
  width: 100vw;
}

body,
#root {
  background-color: #f5f5f5;
  background: linear-gradient(to bottom, #ffffff 18%, #5000ff14);
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-attachment: fixed;
}

.text-white {
  color: white;
  text-decoration: none;
}

/* transaction form*/
.transactionForm {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.transactionFormInput {
  width: 200px;
  margin: 0 10px 20px 10px;
}

/* transaction table*/
.transactionsTableHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 80px;
  width: 100%;
}

.dateFilter {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: flex-end;
}

td,
th {
  max-width: 47px;
}

@media only screen and (max-width: 1200px) {
  /* transaction form */
  .transactionFormInput {
    width: 22%;
    margin: 0 10px 10px 10px;
  }
}

@media only screen and (max-width: 1000px) {
  /* transaction table */
  .transactionsTableHeader {
    flex-direction: column;
  }
}

@media only screen and (max-width: 850px) {
  /* transaction form */
  .transactionFormInput {
    width: 48%;
    margin: 15px 0;
  }
}

@media only screen and (max-width: 390px) {
  /* transaction form */
  .transactionFormInput {
    width: 80%;
    margin: 10px 0;
  }
}
