html{
    background-color: #f5f5f5;
    background: -webkit-linear-gradient(top,#eeeeee 18%,#10464a40);
    background: linear-gradient(to bottom,#eeeeee 18%,#10464a40);
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-attachment: fixed;
    /* width: 100vw; */
}

.text-white{
    color: white;
    text-decoration: none;
}


